# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git-repos\simple_python_hangman\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
